body {
	height: 100vh;
	
	display: grid;
	grid-template-columns: 180px 1fr;
	grid-template-rows: 100px 1fr 90px;
}

#header {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 1;
}

#footer {
	grid-column: 1/3;
	grid-row: 3;
}

#sidemenu {
	grid-column: 1/2;
	grid-row: 2;
}

#sidemenu ul {
	list-style: none;
}

#site-content {
	grid-column: 2/3;
	grid-row: 2;
}
